
.home {
    width: 100%;
    background-image: linear-gradient(to bottom,#C33764 0,#1D2671 100%);
    height:91.2vh;
}
.avatarHome {
    height:250px;
    text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-left: 37%;

   
}

.bannerHome {
    background-color: black;
    opacity: .8;
    width: 75%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

@media screen and (max-width: 640px) {
    .avatarHome {
    padding-left: 15%;
    }
    
  }